body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    text-align: center;
    
}
 

.header {
     height: 60px;
     border-bottom: 1px solid seashell;
     width: 100%;

}

#header-header {
    display: flex;

    justify-content: flex-end;
}
#header-header img {
    padding-left: 10px;
    height: 50px;

}

#header-menu {
    display: inline-flex;
    width: 100%; 
    justify-content: flex-end;
}
ul {
    text-decoration: underline;
    list-style: none;
    display: inline-flex;
}

#menu-fix ul li {
    padding-right: 35px;
}

.container {
    display: flex;
    background-image: url('./images/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    justify-items: center;
    
}

.center-black {
    background-color: #000;
    align-items: center;
    height: 120px;
    width: 100%;
    
    margin-top: 290px;
    text-align: center;
    justify-content: center;
}

h2 {
    align-content: center;
    margin-top: 2px;
}
#center-two {
    display: flex;
    width: 100%;
    justify-content: center;
}
#center-fix {
    flex-flow: column;
    width: 1000px;
    justify-content: center;
}
.center-two-1 {
    width: 100%;
    align-content: center;
}
#center-two-2 {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
#fix-center-2 {
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-flex;
    align-content: flex-start;
    
}
.image-container {
    padding-bottom:10px;
    justify-content: space-around;
}

.image-container img {
    width: 300px;
    height: 200px;
}

#center-three {
    background-image: url('./images/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    justify-content: center;
    
}

#center-h2 {
    color: white;
    width: 100%;
}
#cards {
    display: inline-flex;
    justify-content: center;
    padding-top: 15px;
}
.col-card {
    background-color: #000;
    width: 300px;
    margin-right: 40px;
}

#floor {
    display: flex;
    flex-flow: column;
    width: 100%;

}

#floor-1 {
    
    height: 200px;
    justify-content: center;
}

#floor-2 {
    display: flex;
    padding-left: 100px;
}

#floor-last {
    justify-content: flex-end;
    
}